doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | Melody Stream
        // Font Awesome for icons
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        // Custom Stylesheet
        link(rel="stylesheet", href="/css/style.css")
    body
        .app-container
            //- Sidebar placeholder
            aside.sidebar
                .logo Melody
                nav
                    ul
                        li.active
                            a(href="/") 
                                i.fas.fa-home
                                span Home
                        li
                            a(href="/explore") 
                                i.fas.fa-compass
                                span Explore
                        li
                            a(href="/library") 
                                i.fas.fa-book
                                span Your Library
                hr
                nav
                    ul
                        li
                            a(href="/playlists/create")
                                i.fas.fa-plus-square
                                span Create Playlist
                        li
                            a(href="/liked-songs")
                                i.fas.fa-heart
                                span Liked Songs


            //- Main content block
            main.main-content
                //- Header placeholder
                header.app-header
                    .search-bar
                        i.fas.fa-search
                        input(type="text", placeholder="Search for artists, songs, or podcasts")
                    .user-profile
                        //- Logic for user logged in or not
                        button Login

                block content

        //- Script for interactivity (optional, for later)
        script(src="/js/main.js")
