doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title} | Melody Stream
        // Font Awesome for icons
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
        // Custom Stylesheet
        link(rel="stylesheet", href="/css/style.css")
    body
        .app-container
            //- Sidebar placeholder
            aside.sidebar
                .logo Melody
                nav
                    ul
                        li.active
                            a(href="/") 
                                i.fas.fa-home
                                span Home
                        li
                            a(href="/explore") 
                                i.fas.fa-compass
                                span Explore
                        li
                            a(href="/library") 
                                i.fas.fa-book
                                span Your Library
                hr
                nav
                    ul
                        li
                            a(href="/playlists/create")
                                i.fas.fa-plus-square
                                span Create Playlist
                        li
                            a(href="/liked-songs")
                                i.fas.fa-heart
                                span Liked Songs


            //- Main content block
            main.main-content
                //- Header placeholder
                header.app-header
                    .search-bar
                        i.fas.fa-search
                        input(type="text", placeholder="Search for artists, songs, or podcasts")
                    .user-profile
                        if user
                            .user-menu
                                span= user.fullName
                                a(href="/logout")
                                    button#logout-button Logout
                        else
                            a(href="/login")
                                button Login

                block content

        //- Global Player Bar
        .player-bar
            .player-bar__left
                .player-song-art
                    img(src="", alt="")
                .player-song-info
                    .song-title Now Playing
                    .song-artist Select a song
            
            .player-bar__center
                .player-controls
                    button.control-button.shuffle
                        i.fas.fa-random
                    button.control-button.prev
                        i.fas.fa-step-backward
                    button.control-button.play-main#global-play-button
                        i.fas.fa-play
                    button.control-button.next
                        i.fas.fa-step-forward
                    button.control-button.repeat
                        i.fas.fa-redo

                .player-progress
                    span.current-time 0:00
                    .progress-bar-wrapper
                        .progress-bar
                    span.duration 0:00

            .player-bar__right
                //- Volume controls placeholder
                i.fas.fa-volume-up
                .volume-bar-wrapper
                    .volume-bar

        //- Global Audio Element
        audio#global-audio-player

        //- Script for interactivity
        script(src="/js/main.js")
